<!-- Header -->
<header>
  <nav class="container">
    <a href="../home/" class="logo">
      <img src="../assets/logo.svg" alt="SPARK Logo" />
      <p>SPARK</p>
    </a>
    <ul class="nav-links">
      <li><a href="../home/">Home</a></li>
      <li><a href="../about_us/">About Us</a></li>
      <li><a href="../start_a_branch/">Start A Branch</a></li>
      <li><a href="../faqs/">FAQs</a></li>
      <li><a href="../contact_us/">Contact Us</a></li>
    </ul>
    <button class="menu-btn" aria-label="Open menu">
      <i data-feather="menu"></i>
    </button>
    <div class="mobile-menu">
      <a href="../home/">Home</a>
      <a href="../about_us/">About Us</a>
      <a href="../start_a_branch/">Start A Branch</a>
      <a href="../faqs/">FAQs</a>
      <a href="../contact_us/">Contact Us</a>
    </div>
  </nav>
</header>
